TWITCH_OAUTH_TOKEN=
TWITCH_CHANNEL=
TWITCH_CLIENT_ID=
TWITCH_USER_ACCESS_TOKEN=
TWITCH_BROADCASTER_ID=

# Discord bridge (optional)
DISCORD_TOKEN=
POST_CLIPS_TO_DISCORD=false
DISCORD_CLIP_CHANNEL_ID=
GLOBAL_COOLDOWN_S=2
USER_COOLDOWN_S=12
CMD_COOLDOWN_S=2
